body{
    width:60%;
    font-size:62.5%;
    margin: 50px auto 50px auto;
}
@media screen and (max-width: 1024px) {
    body {
        width:90%;
    }
}
p{
    margin:0;
}
.table{
    margin:0;
}
tr{
    border: 1px #DDDDDD solid;
}
td{
    border: 1px #DDDDDD solid;
    vertical-align:middle!important;
}
h1{
    font-size:2.0rem;
}

.content{
    padding:40px;
    border:1px black solid;
    box-shadow: 0 0 8px gray;
}
.headline__title{
    margin:0 0 30px 0;
    padding:10px;
    background:red;
    color:#FFFFFF;
    font-size:2.0rem;
}
.headline__txt1{
    font-size:1.6rem;
    font-weight: bold;
}
.headline__txt2{
    margin:20px 0 0 5%
    font-size:1.4rem;
}


.tableinfo{
    margin:50px auto 0 auto;
    font-size:1.2rem;
    border: 2px #EEEEEE solid!important;
}
.tableinfo__title{
    margin:0;
    padding:15px 0 15px 0;
    text-align: center;
    font-size:2.0rem;
    background:#EEEEEE;
}
.tableinfo__dec{
    background:#FFFFDD; 
}
@media screen and (max-width: 1024px) {
   .tableinfo__dec {
        font-size:0.9rem!important;
    }
}
.tableinfo__txt1{
    text-align: center;
}
.tableinfo__txt2{
    text-align: center;
}
.tableinfo__txt2_2{
    text-align: center;
}
.tableinfo__txt3{
    text-align: center;
}
.tableinfo__last{
    text-align: center;
}
.tableinfo.border_y{
    border: 2px #FFFF77 solid!important;
}
.tableinfo.border_r{
    border: 2px #FF97C2 solid!important;
}
.txt{
    margin:50px 0 0 0;
    text-align: center;
    font-size:0.9rem;
}

.tableattension__title{
    margin:0;
    padding:5px 0 5px 0;
    font-size:1.5rem;
    background:#EEEEEE;
}
.tableattension__dec{
    padding:10px 0 10px 10px;
}
.tableattension__txt{
    font-size:1.1rem;
}

.tablethanks__title{
    padding:15px 0 15px 10px;
    font-size:2.0rem;
}
.tablethanks__dec{
    padding:20px 40px 20px 20px;
}

.tablesimple__title{
    margin:0;
    padding:15px 0px 15px 20px;
    font-size:1.2rem;
    background:#EEEEEE;
}
.tablesimple__dec{
    padding:20px 20px 20px 20px;
}
.tablesimple__txt{
    font-size:1.0rem;
}

.tablelaw{
     width:90%;
     margin:30px auto 20px auto;
}
.tablelaw__title{
    background:#FFFFE0;
}
.tablelaw__dec{
    font-size:1.0rem;
}
.txtbox{
    margin:0 0 10px 0;
    padding:5px;
    background:#EEEEEE;
    color: #800;
    font-weight: bold;
}
